<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CRM with Python-Flask</title> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>
<body>
<section class="hero is-primary is-fullheight">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a href='/' class="navbar-item">Home</a>
                        {% if user.is_authenticated %}
                            <a href='/logout' class="navbar-item">Logout</a>
                        {% else %}
                            <a href='/login' class="navbar-item">Login</a>
                            <a href='/sign_up' class="navbar-item">Sign Up</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body">
        <div class="container">
            {% if user.is_authenticated %}
                {% block content %}
                {% endblock %}
                {% block add_note %}
                {% endblock %}
            {% else %}
                <h1 class="title">Welcome to CRM 1.0</h1> 
                <h4 class="subtitle">A Portal for Customer Relationship Management.</h4> 
                {% block login %}
                {% endblock %}
            {% endif %} 
        </div>
    </div>
</section>
</body>
</html>
