
<!-- Form to delete note -->
<!-- 
<form action="{{ url_for('delete_note_page', customer_id=customer.id, note_id=note.id) }}" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <label for="note">Delete Note:</label>
    <select name="note_id">
        {% for note in notes %}
        <option value="{{ note.id }}">{{ note.content }}</option>
        {% endfor %}
    </select>
    <button type="submit">DELETE Note</button>
</form> 
-->
{% extends "base.html" %}

{% block content %}
<h1 class="title">Manage Customer data for: <strong>{{ customer.name }}</strong></h1>
<table>
<tr>
    <td>

</td>
  <br>
<td>

</div>
</td>
<td>

<a href="{{ url_for('customers') }}" class="button is-primary">Back</a>

</td>

</tr>
</table>

{% endblock %}
